body{
	width: 200px;
	height: 200px;
	background-color: pink;
}
input{
	font-size: 20px;
	width: 180px;
}
h1{
	text-align: center;
}
.container{
	text-align: center;
	margin-top: 20px;
}
table{
	margin: auto;
}
button{
	font-size: 20px;
	height: 42px;
	width: 42px;
	border-radius: 20px;
}